<form action="/lists" method="POST">

<%@mountains.each do |mountain|%>
<input type="checkbox" name="list[mountain_id][]" value="<%=mountain.id%>"><%=mountain.name%></</input>
<%end%>
 <input type="submit" value="Create List">

</form>
