<form action="/hikes/<%=@hike.id%>" method="POST">

  <input type="hidden" id="hidden" name="_method" value="patch">

<h3>Edit your post below: </h3>

  <h3><%=@hike.mountains.first.name%></h3>


  <h2>Write about your experience:
    <p><textarea rows="12" cols="80" name="description"><%=@hike.description%> </textarea></p>

  <br></br>

  <input type="submit" value="Edit Hike" id="submit" name="submit">



</form>
