<a href="/logout" class="logout">Log Out</a>

<%@hikes.each do |hike|%>
<p><%=hike.user.username%></p>
<h4><%hike.mountains.each do |mountain|%></h4>
<h4><a href="/mountains/<%=mountain.id%>"><%=mountain.name%></a></h4>
<%end%>
<p class="description"><%=hike.description%></p>
<%end%>
