
<p class="flash"><% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %></p>

<a href="/logout" class="logout">Log Out</a>

<form action="/hikes" method="POST">

<h3>Please select at least one mountain to create your list.</h3>

  <h3>Mountains:</h3>
  <% @mountains.each do |mountain| %>
  <input id="<%= mountain.name %>" type="checkbox" name="mountains[]" value="<%= mountain.id %>"><%= mountain.name.titleize %></input>
  <% end %>

  <br></br>

  <input type="submit" value="Create Hike" id="submit" name="submit">



</form>
