
<p class="flash"><% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %></p>

<a href="/logout" class="logout">Log Out</a>

<h3 class="welcome">Please select at least one mountain to create your list.</h3>

  <h3>Mountains:</h3>

<form action="/hikes" method="POST">

  <% @mountains.each do |mountain| %>
  <label><input id="<%= mountain.name %>" type="checkbox" name="mountains[]" value="<%= mountain.id %>"><%= mountain.name.titleize %></input></label>
  <% end %>

  <br></br>

  <input type="submit" value="Create Hike(s)" id="submit" name="submit">



</form>
