<a href="/logout" class="logout">Log Out</a>

<h3><%=@hike.mountains.first.name%>        <%=@hike.mountains.first.elevation%></h3>

<p class="description"><%=@hike.description%></p>


<p class="edit"><a href="/hikes/<%=@hike.id%>/edit">Edit</a>
