<head>
  <style>

  #header {
    display: inline;
  }

  .logout {
       float: right;
        display: inline;
     }

     .welcome {
       display: inline;
     }

  </style>
</head>
<body>
  <div>

    <h1 id="header">Adirondack 46ers</h1>
<br></br>
  </div>
  <div class="container">

  </div>
  <%= yield%>


</body>
</html>
