<head>
  <style>

  #header {
    display: inline;
  }

  .links {
       float: right;
        display: inline;
        padding-left: 10px;
     }

     .welcome {
       display: inline;
     }


  </style>
</head>
<body>
  <div>

    <h1 id="header">Adirondack 46ers</h1>
    <p class="links"><a href="/users">My Hikes</a></p>
    <p class="links"><a href="/hikes/new">New Hike</a></p>
    <p class="links"><a href="/hikes">All Hikes</a></p>
    <p class="links"><a href="/mountains">All Mountains</a></p>
    <p class="links"><a href="/users">All Users</a></p>
    <p class="links"><a href="/users">My Users</a></p>
<br></br>
  </div>
  <div class="container">

  </div>
  <%= yield%>


</body>
</html>
